
.aims{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
    margin-bottom: 5px;
 }

 .row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
 }
 .aims-col{
    flex-basis: 32%;
    margin-top: 10%;
    margin-bottom: 0;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

 }
.cover{
    margin-left: 10px;
    padding:0px;
    border: 2px black solid;
    background-color: #9da4b6;

}
.chicken{
    margin-left: 0px;
    padding: 0;
    border: 2px black solid;
    text-align: center;
    height: 20px;
    width: 80px;
    float: right;
    background-color: #c898b0;
    

}
     
    .sushi{
        margin-left: 0px;
        padding: 0;
        border: 2px black solid;
        text-align: center;
        height: 20px;
        width: 80px;
        float: right;
    background-color: #d47384; 
 }  

        .beef{
            margin-left: 0px;
            padding: 0;
            border: 2px black solid;
            text-align: center;
            height: 20px;
            width: 80px;
            float: right;
            background-color: #d3ba9c;
            
        
        }
        h2{
            text-align: center;
            color:black;
            margin-bottom: 10px;
        }

   
        @media screen and (max-width:1200px) {
            .aims, .row{
                width: 40%;
                margin: 20px 5px 20px 40px;
                display: inline;
        
            }
         }


         @media screen and (max-width:991px) {
            .aims, .row{
                width: 40%;
                margin: 20px 5px 20px 40px;
                display: inline;
        
            }
         }




         @media screen and (max-width:767px) {
            .aims, .row{
                width: 40%;
                margin: 20px 5px 20px 40px;
                display: inline;
        
            }
         }


